body{
	background-image: url(img/bgrobot3.jpg);
}

#chatall{
	margin:10px;
	width:640px;
	height: 1200px;
	background-color: yellow;
	text-align:       center;
	border: solid 3px blue;
	border-radius: 20px;
	font-family: 微软雅黑;
	margin-right: auto;
	margin-left: auto;
}

nav.top{
	background-color: green;
	margin: 0px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px; 
	border-bottom: solid;
	height: 100px;
}

nav ul{
	margin: 0px;
	list-style-type: none;
	padding: 5px;
}

nav ul li{
	display: inline;
	color: blue;
	border-left: solid;
	border-right: solid;
	font-size: 35px;
	padding:10px 100px 10px 100px;
	margin-top: 10px;
	

}

.selected{
	background-color: yellow;
}

#chating{
	height: 800px;
	width: 600px;
	margin: 20px 20px 20px 20px;
	background-image: url(img/chating.jpg);
	background-position: center;
	text-align: center;

}

